@page
@model Ass2_PRN221.Pages.Supplier.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a href="/Admin/Supplier/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Supplier) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a class="nav-link text-dark" href="/Admin/Supplier/Edit?id=@item.SupplierID">Edit</a> |
                <a class="nav-link text-dark" href="/Admin/Supplier/Details?id=@item.SupplierID">Details</a> |
                <a class="nav-link text-dark" href="/Admin/Supplier/Delete?id=@item.SupplierID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
